html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Custom CSS to integrate with Bootstrap layout */
.CodeMirror {
  height: auto; /* Allow height to adjust to content or parent */
  min-height: 800px; /* Or a fixed height */
  border: none; /* Remove CodeMirror's default border if using a card */
}
.CodeMirror-scroll {
  height: auto; /* Ensure scroll area expands */
  min-height: 800px;
}