bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
CoverageReport/
.idea/
TestResults/
.cursor/
*.DotSettings
*.DotSettings.user
Coverage/
# Ignore readme file in the src directory
src/ReadMe.md

# ignore api-reference
api-reference/