@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>



<div class="examples">
    
    <div class="row justify-content-between mb-1">
        <div class="w-auto">
            @foreach (var example in Model.Examples)
            {
                <button type="button" class="btn btn-outline-dark" onclick="getExampleJson('@example')">@example</button>
            }
        </div>
      
        <div class="w-auto">
            
            <button type="button" class="btn btn-outline-secondary" onclick="copyToClipboard()">Copy</button>
        </div>
     
    </div>
   


    <div class="output rounded-1">
        <textarea id="output-block" class="font-monospace bg-light p-3 w-100">
             Click on the button to get the example JSON.
            
        </textarea>
    </div>
</div>

 
 
 @section Scripts
 { 
     <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css"
     />
     <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/dracula.min.css"
     />
     <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.min.js"></script>
     <script type="text/javascript">

         let editor = {};
         
         document.addEventListener('DOMContentLoaded', function () {
             const outputBlock = document.getElementById('output-block');
             
             editor = CodeMirror.fromTextArea(outputBlock, {
                 lineNumbers: true,
                 mode: 'javascript',
                 theme: 'dracula',
                 readOnly: true,
                 tabSize: 2,
                 indentUnit: 2,
                 lineWrapping: true
             });
      
         });
       
         function copyToClipboard() {
             navigator.clipboard.writeText(editor.getValue());
         }
      
         function getExampleJson(name) {
             fetch(`?handler=Json&name=${name}`)
                 .then(response => {
                     if (!response.ok) {
                         throw new Error('Network response was not ok');
                     }
                        return response.text();
                 })
                 .then(data => {
                     console.log(data);
                     
                     
                    editor.setValue(data);
                        
                 })
                 .catch(error => {
                     console.error('There was a problem with the fetch operation:', error);
                 });
         }
         
     </script>
 }
 